html {
	background-color: #60A7E0;
	font-family: "Open Sans", sans-serif;
}

#score-box {
    float: right;
    width: 15%;
    text-align: center;
    border-style: solid;
    margin: 1em 2em;
}

#score-container {
    font-size: 16pt;
}

#question-text-container {
	font-weight: bold;
}

input {
  /*width: 16pt;*/
}

#question-container {
	background-color: white;
 	padding: 1em;
	margin: 1em;
	/*font-size: 16pt;*/
}

h2 {
    margin: 0;
}

h3 {
    font-weight: normal;
    margin: .5em 0;
}

main {
    padding: 1em;
    margin: 5%;
    background-color: white;
    height: 100%;
    box-shadow: 15px 15px  #858585;
    border: solid;	
}

#welcome {
    font-size: 35px;
}

.choose {
	font-size: 25px;
	padding-left: 2em;
}

div.choice {
    margin-bottom: 1em;
    overflow: auto;
    clear: both;
}

.choice a {
    border-style: solid;
    
    font-size: 18pt;
    font-weight: 1em;
    background-color: #F6F6F6;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    text-transform: lowercase;
    float: left;
    width: 85px;
    display: block;
}

.choice p {
    float: left;
    margin: 0 1em;
    font-size: 18pt;
}


.choice a:hover, .choice a:focus {
  background-color: #969696;
}

.choice a {
	color: black;
	text-decoration: none;
}


/* Nav Bar

ul {
 	text-align: center;
    list-style-type: none;
    margin-top: 30px;
}

li {
    display: inline;
}

a {
  border-style: solid; 
  font-size: 1em;
  font-weight: 1em;
  color: #000000;
  background-color: #F6F6F6;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  text-transform: lowercase;
}

a:hover, a:focus {
  background-color: #000000;
  color: #D3D3D3;
}

#current a {color:rgba( 255, 255, 255, 1)}
#current a {background-color: #000000;}

*/
